In [13]:
import pandas as pd
import os
import re
import matplotlib.pyplot as plt

## Import & Merge Data

In [14]:
df = pd.DataFrame()
lengths = []

for filename in os.listdir('../data'):
    if filename.endswith('.csv'):
        if filename == 'merged.csv': # this is to make sure we are only merging the individual department files
            continue
        temp_df = pd.read_csv(os.path.join('../data', filename))
        if 'Name' in temp_df.columns:
            temp_df = temp_df.rename(columns={'Name': 'Professor Name'})
        lengths.append(len(temp_df))    
        temp_df['department'] = filename.split(".csv")[0]
        df = pd.concat([df, temp_df])
        
df.shape

(299, 8)

### Data Check:
- Make sure the number of rows is correct.

In [15]:
sum(lengths)

299

### Data Check

In [16]:
df

,Unnamed: 0,Professor Name,Professor Prefix,Key Expertise,Languages,Title,Modules,department
0,0,Dr Ashwini Agrawal,Dr,"['Corporate Finance', 'Corporate Governance', ...",English,Associate Professor of Finance,"['FM304 Applied Corporate Finance', 'FM414 Cor...",finance
1,1,Ulf Axelson,Professor,"['Corporate Finance', 'Corporate Governance', ...",English,Professor of Finance and Private Equity,"['FM410 Private Equity', 'FM431L Corporate Fin...",finance
2,2,Dr Cynthia Balloch,Dr,"['International Finance', 'Macroeconomics', 'C...",English,Assistant Professor of Finance,"['FM421 Applied Corporate Finance', 'FM473L Fi...",finance
3,3,Dr Elisabetta Bertero,Dr,['Sub-sovereign debt; the financial role of th...,English,Lecturer in Finance,"['AC100 Elements of Accounting and Finance', '...",finance
4,4,Mike Burkart,Professor,"['Corporate Governance', 'Financial Contracting']",English,Professor of Finance,"['FM436 Financial Economics', 'FM473M Financia...",finance
...,...,...,...,...,...,...,...,...
29,29,Luitgard Veraart,Professor,"Financial Mathematics, Risk Management, Stocha...","English, German",Professor,NaN,maths
30,30,Dr James Ward,Dr,"Mathematics, Mathematical Physics",English,Assistant Professorial Lecturer,NaN,maths
31,31,Dr Aled William,Dr,"integer optimisation, knapsack problems, discr...",English,LSE Fellow,NaN,maths
32,32,Giacomo Zambelli,Professor,"Integer, combinatorial and linear optimisation...","English, Italian",Professor,NaN,maths
33,33,Mihail Zerv,Professor,"Mathematical Finance and Economics, Stochastic...","English, Greek",Professor,NaN,maths

### Cleaning the Key Expertise text data

In [17]:
def remove_square_brackets(x):
    """
    This function removes the square brackets in a string.

    """
    if not isinstance(x, float):
        return x.strip("[").strip("]").replace("'", "")
    else:
        return x

In [18]:
df['Key Expertise'].fillna("")         
df['Key Expertise'] = df['Key Expertise'].apply(remove_square_brackets).str.lower()
df['Modules'] = df['Modules'].apply(remove_square_brackets)
df

,Unnamed: 0,Professor Name,Professor Prefix,Key Expertise,Languages,Title,Modules,department
0,0,Dr Ashwini Agrawal,Dr,"corporate finance, corporate governance, labor...",English,Associate Professor of Finance,"FM304 Applied Corporate Finance, FM414 Corpora...",finance
1,1,Ulf Axelson,Professor,"corporate finance, corporate governance, priva...",English,Professor of Finance and Private Equity,"FM410 Private Equity, FM431L Corporate Finance A",finance
2,2,Dr Cynthia Balloch,Dr,"international finance, macroeconomics, corpora...",English,Assistant Professor of Finance,"FM421 Applied Corporate Finance, FM473L Financ...",finance
3,3,Dr Elisabetta Bertero,Dr,sub-sovereign debt; the financial role of the ...,English,Lecturer in Finance,"AC100 Elements of Accounting and Finance, FM10...",finance
4,4,Mike Burkart,Professor,"corporate governance, financial contracting",English,Professor of Finance,"FM436 Financial Economics, FM473M Financial Ma...",finance
...,...,...,...,...,...,...,...,...
29,29,Luitgard Veraart,Professor,"financial mathematics, risk management, stocha...","English, German",Professor,NaN,maths
30,30,Dr James Ward,Dr,"mathematics, mathematical physics",English,Assistant Professorial Lecturer,NaN,maths
31,31,Dr Aled William,Dr,"integer optimisation, knapsack problems, discr...",English,LSE Fellow,NaN,maths
32,32,Giacomo Zambelli,Professor,"integer, combinatorial and linear optimisation...","English, Italian",Professor,NaN,maths
33,33,Mihail Zerv,Professor,"mathematical finance and economics, stochastic...","English, Greek",Professor,NaN,maths

### Check for duplicated Professors

In [19]:
df_cleaned = df
df_cleaned

,Unnamed: 0,Professor Name,Professor Prefix,Key Expertise,Languages,Title,Modules,department
0,0,Dr Ashwini Agrawal,Dr,"corporate finance, corporate governance, labor...",English,Associate Professor of Finance,"FM304 Applied Corporate Finance, FM414 Corpora...",finance
1,1,Ulf Axelson,Professor,"corporate finance, corporate governance, priva...",English,Professor of Finance and Private Equity,"FM410 Private Equity, FM431L Corporate Finance A",finance
2,2,Dr Cynthia Balloch,Dr,"international finance, macroeconomics, corpora...",English,Assistant Professor of Finance,"FM421 Applied Corporate Finance, FM473L Financ...",finance
3,3,Dr Elisabetta Bertero,Dr,sub-sovereign debt; the financial role of the ...,English,Lecturer in Finance,"AC100 Elements of Accounting and Finance, FM10...",finance
4,4,Mike Burkart,Professor,"corporate governance, financial contracting",English,Professor of Finance,"FM436 Financial Economics, FM473M Financial Ma...",finance
...,...,...,...,...,...,...,...,...
29,29,Luitgard Veraart,Professor,"financial mathematics, risk management, stocha...","English, German",Professor,NaN,maths
30,30,Dr James Ward,Dr,"mathematics, mathematical physics",English,Assistant Professorial Lecturer,NaN,maths
31,31,Dr Aled William,Dr,"integer optimisation, knapsack problems, discr...",English,LSE Fellow,NaN,maths
32,32,Giacomo Zambelli,Professor,"integer, combinatorial and linear optimisation...","English, Italian",Professor,NaN,maths
33,33,Mihail Zerv,Professor,"mathematical finance and economics, stochastic...","English, Greek",Professor,NaN,maths

In [20]:
df_cleaned = df_cleaned.drop(['Unnamed: 0'], axis=1)

file_path = os.path.join('../data','merged.csv')
df_cleaned.to_csv(file_path)

In [21]:
pattern = r"(Professor|Dr)\s+"

titles = df_cleaned['Professor Name'].str.extract(pattern, expand=False)

df_cleaned['Professor Name'] = df_cleaned['Professor Name'].str.replace(pattern, "")

df_cleaned['Professor Prefix'] = titles

/var/folders/gr/9xfc8bcx2bx4vjk2std_9wgm0000gn/T/ipykernel_9237/587138699.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  df_cleaned['Professor Name'] = df_cleaned['Professor Name'].str.replace(pattern, "")

In [22]:
duplicates = df_cleaned[df_cleaned['Professor Name'].duplicated()]['Professor Name'][0]
df_cleaned[df_cleaned['Professor Name']==duplicates]

,Professor Name,Professor Prefix,Key Expertise,Languages,Title,Modules,department
3,Kenneth Benoit,Professor,"comparative party competition, european parlia...",English,Professor,NaN,methodology
0,Kenneth Benoit,Professor,"comparative party competition, european parlia...",English,Professor,NaN,data_science_institute

### Note: 
Kennet Benoit appears twice.